---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import * as heroContent from "../content/hero.md";
import Profile from "../assets/profile.jpg";

const { location, email, currently, previously, intro } = heroContent.frontmatter;
---

<section
  class="mt-24 flex w-full flex-col-reverse items-center p-10 lg:my-32 lg:w-3/4 lg:flex-row"
>
  <div class="mt-20 flex w-full flex-col lg:w-1/2">
    <div class="flex flex-row items-center">
      <Icon name="map" class="mr-1 h-5 w-5" />
      <p class="text-base font-semibold">{location}</p>
    </div>
    <div class="mt-2 flex flex-row items-center">
      <Icon name="mail" class="mr-2 h-5 w-5" />
      <a
        href={`mailto:${email}`}
        class="text-base font-semibold underline hover:text-gray-500"
      >
        {email}
      </a>
    </div>
    <div class="mt-14 flex flex-col text-base font-semibold">
      <p class="font-thin text-gray-400">CURRENTLY</p>
      <div class="mt-2 ml-2 text-black">
        {currently.map((item: string) => <p set:html={item} />)}
      </div>
    </div>
    <div class="mt-14 flex flex-col text-base font-semibold">
      <p class="font-thin text-gray-400">PREVIOUSLY</p>
      <div class="mt-2 ml-2 text-black">
        {previously.map((item: string) => <p set:html={item} />)}
      </div>
    </div>
  </div>
  <div class="flex w-full flex-col items-center pl-0 lg:w-1/2 lg:items-center">
    <Image
      src={Profile}
      draggable={false}
      loading="eager"
      alt="Sarthak Kimtani"
      class="h-44 w-44 rounded-[75px] lg:h-60 lg:w-60"
    />
    <h4 class="mt-14 text-center text-xl font-medium lg:w-3/4">
      I'm Sarthak Kimtani — Software Engineer
      <span class="text-gray-400">{intro}</span>
    </h4>
  </div>
</section>
