---
import { Icon } from "astro-icon/components";
import Skill from "./Skill.astro";

const { project } = Astro.props;
---

<div class="mb-4 flex flex-col items-start">
  <h4 class="mb-3 text-lg font-semibold text-gray-800">
    {project.title}
  </h4>
  <div class="mb-2 flex flex-wrap gap-2">
    {project.techStack.map((tech: string) => <Skill title={tech} />)}
  </div>
  <p class="text-md mt-1 mb-2 leading-relaxed text-gray-600">
    {project.description}
  </p>
  <a
    href={project.link.url}
    class="mt-2 text-gray-700 underline decoration-gray-300 decoration-2 underline-offset-8 transition-all duration-200 hover:text-gray-900 hover:decoration-gray-500"
    target="_blank"
  >
    Open in {project.link.title}
    <Icon name="arrow-up-right" class="ml-1 inline-block text-gray-700" />
  </a>
  <div class="mt-5 h-[1px] w-full bg-gray-300"></div>
</div>
