---
import { Icon } from "astro-icon/components";
import Section from "./Section.astro";

import socialContent from "../content/social.json";

const { email, socials } = socialContent;
---

<Section title="Social" id="social">
  <h4 class="mb-4 text-lg font-semibold">Hit Me Up — Let's Create</h4>
  <a
    href={`mailto:${email}`}
    class="text-base font-semibold underline hover:text-gray-500"
  >
    {email}
  </a>
  <div class="mt-10 flex flex-row items-center">
    <span class="mr-2 h-3 w-3 animate-pulse rounded-full bg-green-500"></span>
    <p class="text-base">Available for Work</p>
  </div>
  <div class="mt-5 flex flex-row flex-wrap items-center">
    {
      socials.map((social) => (
        <a
          href={social.url}
          target="_blank"
          class="mr-3 mb-3 flex flex-row items-center justify-center rounded-full bg-gray-200 px-3 py-2"
        >
          <Icon name={social.title.toLowerCase()} class="h-5 w-5" />
          <span class="ml-2 text-sm">{social.title}</span>
        </a>
      ))
    }
  </div>
</Section>
